<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddm.vblog.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ddm.vblog.entity.Article">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="content_html" property="contentHtml" />
        <result column="view_num" property="viewNum" />
        <result column="comment_num" property="commentNum" />
        <result column="weight" property="weight" />
        <result column="category_id" property="categoryId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <collection property="tags" ofType="com.ddm.vblog.entity.Tag">
            <id column="t_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <!-- 通用查询映射结果(包括作者头像) -->
    <resultMap id="BaseResultUserMap" type="com.ddm.vblog.entity.Article">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="content_html" property="contentHtml" />
        <result column="view_num" property="viewNum" />
        <result column="comment_num" property="commentNum" />
        <result column="weight" property="weight" />
        <result column="category_id" property="categoryId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <association property="user" javaType="com.ddm.vblog.entity.User">
            <id column="u_id" property="id"/>
            <result column="avatar" property="avatar"/>
        </association>
        <association property="category" javaType="com.ddm.vblog.entity.Category">
            <result column="category_name" property="categoryName"/>
        </association>
        <collection property="tags" ofType="com.ddm.vblog.entity.Tag">
            <id column="t_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <sql id="column">
        id,
        user_id,
        nickname,
        title,
        summary,
        content,
        content_html,
        view_num,
        comment_num,
        weight,
        tags,
        category_id,
        create_time,
        update_time
    </sql>

    <sql id="partColumn">
        id,
        user_id,
        title,
        summary,
        view_num,
        comment_num,
        tags,
        category_id,
        create_time,
        update_time
    </sql>


    <!-- 获取到最热文章 -->
    <select id="getHotArticle" resultType="com.ddm.vblog.entity.Article">
        select <include refid="partColumn"/>
        from vblog_article order by view_num desc
    </select>

    <!-- 获取到最新的文章 -->
    <select id="getNewArticle" resultType="com.ddm.vblog.entity.Article">
        select <include refid="partColumn"/>
        from vblog_article order by create_time desc
    </select>

    <!-- 取到文章创建时间的所有月份 -->
    <select id="fileArticle" resultType="java.lang.String">
        select date_format(create_time,'%Y-%m') as time from vblog_article GROUP BY time
    </select>

    <!-- 获取该文章的详细信息 -->
    <select id="getArticleById" resultMap="BaseResultUserMap">
        SELECT
            a.id,
            user_id,
            a.nickname,
            title,
            summary,
            content,
            content_html,
            view_num,
            comment_num,
            weight,
            tags,
            category_id,
            a.create_time,
            a.update_time,
            u.avatar,
            c.category_name,
            t.id AS t_id,
            t.tag_name AS tag_name
        FROM
            vblog_article AS a
            LEFT JOIN vblog_user AS u ON a.user_id = u.id
            LEFT JOIN vblog_category AS c ON a.category_id = c.id
            LEFT JOIN vblog_article_tag AS ag ON a.id = ag.article_id
            LEFT JOIN vblog_tag t ON ag.tag_id = t.id
        WHERE
            a.id = #{id}
    </select>

     <!--根据查询条件获取文章数据-->
    <select id="selectByPage" resultMap="BaseResultMap">
        SELECT
            a.id,
            a.user_id,
            a.nickname,
            a.title,
            a.summary,
            a.comment_num,
            a.weight,
            a.category_id,
            a.create_time,
            a.update_time,
            t.id as t_id,
            t.tag_name
        FROM
            (
            SELECT
                vblog_article.id,
                user_id,
                nickname,
                title,
                summary,
                comment_num,
                weight,
                category_id,
                vblog_article.create_time,
                vblog_article.update_time
            FROM
                vblog_article
                <if test="queryParams.tagId != null and queryParams.tagId != ''">
                    LEFT JOIN vblog_article_tag AS vt ON vblog_article.id = vt.article_id
                    LEFT JOIN vblog_tag AS t ON vt.tag_id = t.id
                    WHERE t.id = #{queryParams.tagId}
                </if>
                LIMIT #{page.current},#{page.size}
            ) AS a
            LEFT JOIN vblog_article_tag AS vt ON a.id = vt.article_id
            LEFT JOIN vblog_tag AS t ON vt.tag_id = t.id
            <where>
                <if test="queryParams.date != null and queryParams.date != ''">
                    AND DATE_FORMAT(a.create_time, '%Y-%m') = #{queryParams.date}
                </if>
                <if test="queryParams.categoryId != null and queryParams.categoryId != ''">
                    AND a.category_id = #{queryParams.categoryId}
                </if>
            </where>
        ORDER BY
            create_time DESC
    </select>
</mapper>
