<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddm.vblog.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ddm.vblog.entity.Log">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="ip" property="ip" />
        <result column="method" property="method" />
        <result column="params" property="params" />
        <result column="nickname" property="nickname" />
        <result column="operation" property="operation" />
        <result column="time" property="time" />
        <result column="user_id" property="userId" />
        <result column="url" property="url" />
    </resultMap>

</mapper>
