<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddm.vblog.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ddm.vblog.entity.Tag">
        <id column="id" property="id" />
        <result column="tag_name" property="tagName" />
        <result column="avatar" property="avatar" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 获取最热标签的id -->
    <select id="getHotTagId" resultType="java.lang.Integer">
        select count(0) from vblog_article_tag GROUP BY tag_id desc limit 0,4
    </select>

    <!-- 获取所有标签信息以及每个标签有多少文章 -->
    <select id="selectAll" resultType="com.ddm.vblog.dto.tag.TagDTO">
        SELECT
            t.id,
            t.tag_name,
            t.avatar,
            count( AT.article_id ) AS article_count
        FROM
            vblog_tag AS t
            LEFT JOIN vblog_article_tag AS AT ON t.id = AT.article_id
        GROUP BY
            t.id
        ORDER BY
            t.create_time DESC
    </select>

</mapper>
